$colorMain:#DBAD52;

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}
ul,ol {
    list-style: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainCTA{
    background-color: $colorMain;
    width: 80%;
    border: none;
    font-size: 30px;
    padding: 30px;
    color: white;
    cursor: pointer;
}

footer{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: $colorMain;
}

.bold{
    font-weight: bold;
}

h1{
    color: #DBAD52;
}

.active{
    &--link{
        text-decoration: underline;
    }
}

body{
    height: 100vh;
    height: 100dvh;
    width: 100dvw;
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
    #app{
        width: 100%;
        height: 100%;
        display: flex;
        flex-grow: 0;
        flex-direction: column;
    }
}