@use './flipCard.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); // font

:root{
    --colorMain:#DBAD52;
    --labels:#2C2C2C;
    --arrows:rgba(31, 24, 1,0.8);
}
body{
    height: 100vh;
    height: 100dvh;
    width: 100dvw;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
    display:contents ;
}
ul,ol {
    list-style: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 0;
    padding-bottom: 20px;
    flex-direction: column;
    flex: 1;
}

img{
    max-height: 100%;
}
.mainCTA{
    background-color: var(--colorMain);
    width: 80%;
    border: none;
    font-size: 25px;
    padding: 30px;
    color: white;
    cursor: pointer;
    text-align: center;
}

footer{
    margin-top: auto;
    height: 30px;
    width: 100%;
    background-color: var(--colorMain);
    align-self: flex-end;
}

.bold{
    font-weight: bold;
}

h1{
    color: var(--colorMain);
}

.active{
    &--link{
        font-weight: bold;
        font-size: larger
    }
}

button{
    all: unset;
}
header{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    #logo{
        margin: auto;
        width: 200.3px;
        height: 65.4px;
        object-fit: cover;
        object-position: 0 -33px;
    }

    nav{
        flex: 1;
        padding: 10px 8px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li{
                font-size: calc(0.6rem + 0.9vw);
                cursor: pointer;
            
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        #logo{
            object-position: initial;
            height: auto;
        }

        nav{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0px 25px;
        }
    }
}

h1 {
    font-family: 'Great Vibes', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}