main{
    overflow: 4444;
    display: flex;
    flex-direction: column;
    flex: 1;
    h1{
        display: none;
    }

    .description{
        font-size: calc(1rem + 0.5vw);
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        .presentation{
            padding: 8px;
            text-align: center;
        }
        button{
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .photos{
        margin-top: 15px;
        min-height: 0;
        
        #caroussel{
            display: flex;
            flex-direction: row;
        }

        .photosGroup{
            display: contents;
        }
        img{
            object-fit: cover;
            flex-shrink: 0;
            width: 100%;
        }
        .photoCard{
            flex-shrink: 0;
            max-width: 100%;
        }
    }
}

@media (min-width: 768px) {
    main{
        flex-direction: row;

        h1{
            display: inline;
            text-align: center;
        }
        .mainCTA{
            padding: 15px;
            a{
                text-wrap: nowrap;
                margin: 0px;
            }
        }

        .description{
            justify-content: space-around;
            width: 35%;
        }

        .photos{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 5px;
            padding-right: 8px;

            :nth-child(1){
                grid-row: 1/3;
            }
            
            #caroussel{
                display: contents;
            }
        }
        .arrow{
            display: none;
        }
    }   
}