// -- Tablette --
@media (min-width: 768px) {

    header{
        flex-direction: row;
        #logo{
            object-position: initial;
            height: auto;
        }

        nav{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    main{
        flex-direction: row;

        h1{
            display: inline;
            text-align: center;
        }
        .mainCTA{
            padding: 15px;
            a{
                text-wrap: nowrap;
                margin: 0px;
            }
        }

        .description{
            justify-content: space-around;
            width: 35%;
        }

        .photos{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 5px;
            padding-right: 8px;

            :nth-child(1){
                grid-row: 1/3;
            }
            
            #carousel{
                display: contents;
            }
        }
        .arrow{
            display: none;
        }
    } 
    
}